[Unit]
Description=noir-safe server
After=network-online.target
[Service]
User=<XXXXXX>
WorkingDirectory=/home/<XXXXXX>/apps/noir-safe/server
Restart=on-failure
Environment="CARGO_MANIFEST_DIR=/home/<XXXXXX>/apps/noir-safe/server"
ExecStart=/home/<XXXXXX>/apps/noir-safe/server/target/release/noir-safe-server
[Install]
WantedBy=multi-user.target